<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Uresha POS System</title>
    <link href="img/favicon.png" rel="icon" type="image/x-icon">
    <link href="assests/css/styles.css" rel="stylesheet">
    <link href="assests/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">
</head>
<body>

<!--Common Section Start-->
<nav class="navbar navbar-expand-md navbar-dark bg-light sticky-top w-100" id="nav-bar-main">
    <img alt="logo image" class="float-left" height="75px" src="assests/image/rsz_logo.png">
    <a class="navbar-brand font-weight-bold " href="#" id="title-text">Uresha POS System</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler bg-success" data-target="#navbarSupportedContent"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="font-size: 1em">
            <li class="nav-item">
                <a class="nav-link text-primary" href="index.html">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="order.html">Orders </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="item.html">Items <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-primary"
                   data-toggle="dropdown"
                   href="#" id="navbarDropdown" role="button">
                    Others
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="customer.html">Customers</a>
                    <a class="dropdown-item" href="#">Employees</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">About</a>
                </div>
            </li>
        </ul>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fas fa-user-plus"></i>Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!----------------------->
<div class="container mt-4">
    <!--main tile-->
    <div class="bg-light main-title mb-0">
        <h2><i class="fas fa-cubes"></i> Items</h2>
    </div>
    <div class="front-nav-bar ">
        Home > <b>Items</b>
    </div>

    <div class="jumbotron pt-4 mb-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-success">Item Search</div>
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" id="txtSCode" placeholder="Input Item Name/Code Here"
                                   type="text">
                        </div>
                        <div class="form-group form-inline">
                            <button class="btn btn-success mb-2" id="btnSearch">Search</button>
                            &nbsp;&nbsp;&nbsp;
                            <select class="form-control mb-2">
                                <option>Name</option>
                                <option>Item Code</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-action-buttons m-3">
                    <div class="btn-group">
                        <button class="btn btn-danger" id="btnDeleteItem" type="button">Delete</button>
<!--                        <button class="btn btn-warning" id="btnUpdateItem" type="button">Edit</button>-->
                        <button class="btn btn-info" id="btnSearch2" type="button">Details</button>
                        <button class="btn btn-success" type="button">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 menu-button-group">
                <div class="center-on-lg">
                    <div class="btn-group float-right mt-lg-0 mb-3">
                        <button class="btn btn-info" data-target="#myModal" data-toggle="modal" type="button">New Item
                        </button>
                        <button class="btn btn-warning" id="btnGetAllItem" type="button">View All Items</button>
                    </div>
                </div>
            </div>

            <!--new customer adding-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog" role="document">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-success">
                            <h4 class="modal-title">New Item</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group ">
                                <form id="ItemForm">
                                    <label for="code">Item Code :</label>
                                    <input class="form-control" id="code" name="code" type="text">
                                    <label for="name">Item Name :</label>
                                    <input class="form-control" id="name" name="description" type="text">
                                    <label for="unitPrice">Item Price :</label>
                                    <input class="form-control" id="unitPrice" name="unitPrice" type="text">
                                    <label for="qtyOnHand">Item Quantity :</label>
                                    <input class="form-control" id="qtyOnHand" name="qtyOnHand" type="text">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" id="btnSaveItem" type="button">Save</button>
                            <button class="btn btn-warning" id="btnUpdateItem" type="button">Renew</button>
                            <button class="btn btn-info" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!--table-->
            <div class="col-md-12 mt-4" style="height:180px; overflow-y: scroll">
                <table class="table table-bordered">
                    <thead style="background: #00bfa5">
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody class="bg-light" id="tblItem" >

                    </tbody>
                </table>
            </div>
            <!---->
        </div>
    </div>
</div>
<!--footer-->
<div class="footer-text btn-dark text-center">Developed by Uresha Lakshani @ IJSE</div>

<script src="assests/js/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="assests/js/bootstrap.min.js" type="application/javascript"></script>
<script src="assests/controller/ItemController.js" type="application/javascript"></script>
</body>
</html>